@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root {
    --bg-clr:  hsl(217, 54%, 11%);
    --component-clr: hsl(216, 50%, 16%);
    --secondary-text-clr: hsl(215, 51%, 70%);
    --main-text-clr: hsl(0, 0%, 100%);
    --eth-clr: hsl(178, 100%, 50%);

    --font-family-default: 'Outfit', sans-serif;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.75rem;
    --fs-400: 2rem;

    --fw-regular: 300;
    --fw-bold: 800;
    --fw-black: 900;

    --gap-1: .3rem;
    --gap-2: .5rem;
    --gap-3: 1rem;
    --gap-4: 1.5rem;
    --gap-5: 2rem;



}

* {
    font: inherit;
    margin: 0;
}

img, svg {
    display: block;
    width: 100%;
}

.grid-flow {
    display: grid;
    
}

.flex-group {
    display: flex;
}

body {
    
    font-family: var(--font-family-default);
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    color: var(--secondary-text-clr);
    place-items: center;
    background-color: var(--bg-clr);
}

.main-container {
    
    max-width: 24rem;
    background-color: var(--component-clr);
    gap: 2rem;
    padding: 2rem;
    border-radius: 1.25rem;
}

.upper-container img{
    border-radius: 1rem;
}

.lower-container {
    gap: 1.5rem;
}
.title {
    font-size: var(--fs-400);
    color: var(--main-text-clr);
    font-weight: var(--fw-bold);
}

.desc {
    font-size: var(--fs-200);
    color: var(--secondary-text-clr);
    line-height: 1.5;
    padding-right: rem;
}

.details {
    width: 100%;
    gap: 8rem;
    font-size: var(--fs-200);
}

.int-details {
    align-items: center;
}

.flex-text-item {
    width: 10rem;
    margin-left: -3rem;
}

.int-details h2 {
    font-weight: var(--fw-bold);
    color: var(--eth-clr);
}

hr {
    height: 0.01;
    border: 0.01rem solid hsla(215, 52%, 70%, 0.388);

}
.creator {
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-200);

}

.avatar {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.creator span {
    color: var(--main-text-clr);
}